@import './src/assets/colors.scss';

.button-box {
    margin: 30px 0;
    .button {
        width: 100%;
        max-width: 500px;
        border: none;
        height: 60px;
        border-radius: 5px;
        font-family: 'Inter-Medium';
        font-size: 1em;
        cursor: pointer;
    
        &-primary {
            color: white;
            background-color: $color-primary-2-hex;
        }
        &-secondary {
            background-color: white;
            color: $color-primary-2-hex;
            border: solid 1px $color-primary-2-hex;
        }
    }
    .button:focus {
        outline: none;
    }
}
