@import './src/assets/breakpoints.scss';

.color {
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    float: left;
    position: relative;
    span {
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
    small {
        position: absolute;
        top: 50%;
        right: 35%;

    }
}

@media (max-width: $small_devices) {
    .palette-section {
        .palette-box {
            display: grid;
            .color {
                height: 100px;
                small {
                    top: 1em;
                    right: 1em;
                }
            }
        }
    }
}