.create-project-section {
    display: grid;
    place-items: center;
    padding: 40px 20px;
    height: 80vh;
    form {
        width: 100%;
        max-width: 500px;
        h1 {
            text-align: center;
        }
        .error {
            color: red;
        }
    }
}